svg {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAdCAMAAACKeiw+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////9fb3h/JDwQAAABtJREFUeNpiYMQLGBgZ8IJR6VHpUWnKpAECDACcGgA72QxfPgAAAABJRU5ErkJggg==);
    border: solid 1px #ddd;
	
}
svg .circle {
    /*fill: white;*/
    stroke: steelblue;
    stroke-width: 2;
    color: white;
}
svg circle:hover{
    cursor: pointer;
}
svg circle:active{
    /*stroke: yellow;*/
}
svg .link_line {
    stroke: rgba(255,255,255,.5);
    stroke-width: 1.5;
}​
svg .line {
     stroke: #ccc;
     stroke-width: 1.5px;
}

svg circle.callout {
    stroke-width: 3px;
    stroke-dasharray: 9, 5;
    stroke-opacity: .8;
    fill: none;
    stroke: red;
}

.story-content {
    stroke-width: 0.5px;
    stroke-opacity: .4;
    stroke: navy;
}
.story-content:hover{
    cursor: pointer;
}

.open-content-side-bar {
	cursor: pointer;	
}

#content-sidebar {
	
	margin-top: 20px;
	margin-left: 600px;
	position: absolute;
}

#edit-content-input {
    height: 250px;
}