@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?14869775');
  src: url('/fonts/fontello.eot?14869775#iefix') format('embedded-opentype'),
       url('/fonts/fontello.woff?14869775') format('woff'),
       url('/fonts/fontello.ttf?14869775') format('truetype'),
       url('/fonts/fontello.svg?14869775#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14869775#fontello') format('svg');
  }
}
*/
 
 [class^="iconw-"]:before, [class*=" iconw-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}
 
.iconw-github:before { content: '\e83a'; } /* '' */
.iconw-erase:before { content: '\e88f'; } /* '' */
.iconw-pause:before { content: '\e88d'; } /* '' */
.iconw-hourglass:before { content: '\e88a'; } /* '' */
.iconw-stop:before { content: '\e88c'; } /* '' */
.iconw-play:before { content: '\e88b'; } /* '' */
.iconw-star:before { content: '\e803'; } /* '' */
.iconw-star-empty:before { content: '\e804'; } /* '' */
.iconw-cup:before { content: '\e84b'; } /* '' */
.iconw-menu:before { content: '\e891'; } /* '' */
.iconw-heart-empty:before { content: '\e802'; } /* '' */
.iconw-heart:before { content: '\e801'; } /* '' */
.iconw-flag:before { content: '\e834'; } /* '' */
.iconw-record:before { content: '\e88e'; } /* '' */
.iconw-cog-alt:before { content: '\e80e'; } /* '' */
.iconw-ok:before { content: '\e843'; } /* '' */
.iconw-ok-1:before { content: '\e84e'; } /* '' */
.iconw-cancel:before { content: '\e84d'; } /* '' */
.iconw-direction-1:before { content: '\e849'; } /* '' */
.iconw-heart-1:before { content: '\e863'; } /* '' */
.iconw-star-1:before { content: '\e862'; } /* '' */
.iconw-trash:before { content: '\e86c'; } /* '' */
.iconw-user-1:before { content: '\e861'; } /* '' */
.iconw-key:before { content: '\e86e'; } /* '' */
.iconw-search-2:before { content: '\e85f'; } /* '' */
.iconw-cog:before { content: '\e85e'; } /* '' */
.iconw-camera:before { content: '\e864'; } /* '' */
.iconw-tag-1:before { content: '\e877'; } /* '' */
.iconw-lock-1:before { content: '\e866'; } /* '' */
.iconw-pencil:before { content: '\e869'; } /* '' */
.iconw-desktop:before { content: '\e874'; } /* '' */
.iconw-location-3:before { content: '\e86b'; } /* '' */
.iconw-eye-3:before { content: '\e868'; } /* '' */
.iconw-comment:before { content: '\e86a'; } /* '' */
.iconw-mail-1:before { content: '\e860'; } /* '' */
.iconw-thumbs-up:before { content: '\e878'; } /* '' */
.iconw-photo:before { content: '\e865'; } /* '' */
.iconw-note:before { content: '\e876'; } /* '' */
.iconw-paper-plane-1:before { content: '\e870'; } /* '' */
.iconw-params:before { content: '\e85d'; } /* '' */
.iconw-database-1:before { content: '\e86d'; } /* '' */
.iconw-megaphone-1:before { content: '\e86f'; } /* '' */
.iconw-graduation-cap:before { content: '\e872'; } /* '' */
.iconw-beaker:before { content: '\e879'; } /* '' */
.iconw-fire:before { content: '\e871'; } /* '' */
.iconw-attach:before { content: '\e867'; } /* '' */
.iconw-calendar-1:before { content: '\e875'; } /* '' */
.iconw-globe-2:before { content: '\e873'; } /* '' */
.iconw-resize-small:before { content: '\e856'; } /* '' */
.iconw-resize-full:before { content: '\e857'; } /* '' */
.iconw-shuffle-2:before { content: '\e855'; } /* '' */
.iconw-location-1:before { content: '\e83c'; } /* '' */
.iconw-gauge-1:before { content: '\e85c'; } /* '' */
.iconw-down-open-1:before { content: '\e858'; } /* '' */
.iconw-up-open-1:before { content: '\e85b'; } /* '' */
.iconw-right-open-1:before { content: '\e85a'; } /* '' */
.iconw-left-open-1:before { content: '\e859'; } /* '' */
.iconw-mail:before { content: '\e83b'; } /* '' */
.iconw-chart:before { content: '\e854'; } /* '' */
.iconw-cog-circled:before { content: '\e83d'; } /* '' */
.iconw-calendar:before { content: '\e83e'; } /* '' */
.iconw-help-circled:before { content: '\e80d'; } /* '' */
.iconw-info-circled:before { content: '\e80c'; } /* '' */
.iconw-eye:before { content: '\e808'; } /* '' */
.iconw-eye-2:before { content: '\e850'; } /* '' */
.iconw-eye-1:before { content: '\e833'; } /* '' */
.iconw-eye-off:before { content: '\e809'; } /* '' */
.iconw-tag:before { content: '\e80b'; } /* '' */
.iconw-chat:before { content: '\e81e'; } /* '' */
.iconw-chat-1:before { content: '\e825'; } /* '' */
.iconw-address:before { content: '\e847'; } /* '' */
.iconw-location:before { content: '\e80f'; } /* '' */
.iconw-location-2:before { content: '\e848'; } /* '' */
.iconw-map:before { content: '\e84a'; } /* '' */
.iconw-share:before { content: '\e805'; } /* '' */
.iconw-shareable:before { content: '\e823'; } /* '' */
.iconw-popup:before { content: '\e846'; } /* '' */
.iconw-publish:before { content: '\e83f'; } /* '' */
.iconw-zoom-in:before { content: '\e813'; } /* '' */
.iconw-zoom-out:before { content: '\e814'; } /* '' */
.iconw-chart-pie:before { content: '\e82c'; } /* '' */
.iconw-database:before { content: '\e832'; } /* '' */
.iconw-down-open:before { content: '\e815'; } /* '' */
.iconw-left-open:before { content: '\e816'; } /* '' */
.iconw-right-open:before { content: '\e817'; } /* '' */
.iconw-up-open:before { content: '\e818'; } /* '' */
.iconw-back-in-time:before { content: '\e830'; } /* '' */
.iconw-network:before { content: '\e82f'; } /* '' */
.iconw-align-justify:before { content: '\e820'; } /* '' */
.iconw-off:before { content: '\e897'; } /* '' */
.iconw-suitcase:before { content: '\e888'; } /* '' */
.iconw-flow-cascade:before { content: '\e829'; } /* '' */
.iconw-flow-branch:before { content: '\e82a'; } /* '' */
.iconw-flow-tree:before { content: '\e828'; } /* '' */
.iconw-flow-line:before { content: '\e82b'; } /* '' */
.iconw-flow-parallel:before { content: '\e87b'; } /* '' */
.iconw-paper-plane:before { content: '\e826'; } /* '' */
.iconw-gauge:before { content: '\e827'; } /* '' */
.iconw-globe-inv:before { content: '\e853'; } /* '' */
.iconw-move:before { content: '\e812'; } /* '' */
.iconw-filter:before { content: '\e896'; } /* '' */
.iconw-beaker-1:before { content: '\e895'; } /* '' */
.iconw-columns:before { content: '\e842'; } /* '' */
.iconw-chat-empty:before { content: '\e81d'; } /* '' */
.iconw-sitemap:before { content: '\e892'; } /* '' */
.iconw-angle-left:before { content: '\e819'; } /* '' */
.iconw-angle-right:before { content: '\e81a'; } /* '' */
.iconw-angle-up:before { content: '\e81b'; } /* '' */
.iconw-angle-down:before { content: '\e81c'; } /* '' */
.iconw-direction:before { content: '\e810'; } /* '' */
.iconw-puzzle:before { content: '\e840'; } /* '' */
.iconw-lock-open-alt:before { content: '\e806'; } /* '' */
.iconw-youtube-play:before { content: '\e893'; } /* '' */
.iconw-facebook-rect:before { content: '\e838'; } /* '' */
.iconw-github-circled:before { content: '\e882'; } /* '' */
.iconw-flickr-circled:before { content: '\e885'; } /* '' */
.iconw-vimeo-circled:before { content: '\e87e'; } /* '' */
.iconw-twitter-circled:before { content: '\e87d'; } /* '' */
.iconw-facebook-circled:before { content: '\e87c'; } /* '' */
.iconw-vimeo-rect:before { content: '\e839'; } /* '' */
.iconw-gplus-circled:before { content: '\e87f'; } /* '' */
.iconw-tumblr-rect:before { content: '\e836'; } /* '' */
.iconw-tumblr-circled:before { content: '\e880'; } /* '' */
.iconw-linkedin-circled:before { content: '\e881'; } /* '' */
.iconw-linkedin-rect:before { content: '\e837'; } /* '' */
.iconw-stumbleupon-circled:before { content: '\e883'; } /* '' */
.iconw-lastfm-circled:before { content: '\e884'; } /* '' */
.iconw-rdio-circled:before { content: '\e890'; } /* '' */
.iconw-spread:before { content: '\e835'; } /* '' */
.iconw-globe-1:before { content: '\e82e'; } /* '' */
.iconw-globe:before { content: '\e821'; } /* '' */
.iconw-target:before { content: '\e87a'; } /* '' */
.iconw-user:before { content: '\e852'; } /* '' */
.iconw-briefcase:before { content: '\e887'; } /* '' */
.iconw-calendar-2:before { content: '\e894'; } /* '' */
.iconw-chart-bar:before { content: '\e82d'; } /* '' */
.iconw-chart-bar-1:before { content: '\e84c'; } /* '' */
.iconw-megaphone:before { content: '\e831'; } /* '' */
.iconw-signal:before { content: '\e841'; } /* '' */
.iconw-camera-1:before { content: '\e822'; } /* '' */
.iconw-shuffle:before { content: '\e81f'; } /* '' */
.iconw-shuffle-1:before { content: '\e844'; } /* '' */
.iconw-arrows-ccw:before { content: '\e845'; } /* '' */
.iconw-search-1:before { content: '\e851'; } /* '' */
.iconw-search:before { content: '\e800'; } /* '' */
.iconw-lock:before { content: '\e807'; } /* '' */
.iconw-bell:before { content: '\e824'; } /* '' */
.iconw-bell-1:before { content: '\e84f'; } /* '' */
.iconw-bookmark:before { content: '\e80a'; } /* '' */
.iconw-wrench:before { content: '\e811'; } /* '' */
.iconw-clock:before { content: '\e889'; } /* '' */
.iconw-rocket:before { content: '\e886'; } /* '' */