
/*Responsive design ======================================================== */
@media screen and (max-width: 1024px) and (min-width: 985px){
.modal {
    top: 0%;
	margin-top:75px;
	}
@media screen and (max-width: 985px) and (min-width: 800px){
    .modal {
		top: 20%;
	}
    .wrapper .splash {
		height:414px;
	}
	.wrapper .splash  h1 {
		font:50px/68px 'Franklin Gothic Heavy';
		width:55%;
		padding-top:85px;
	}
	.wrapper .splash .signup {
	    padding-top:95px;
		width: 35%;
		padding-left: 10%;
	}
	.wrapper .splash .signup .btn {
	    padding:10px 15px;
	}
}

@media screen and (max-width: 800px) and (min-width: 700px){
    .modal {
		top: 0%;
	    margin-top:75px;
	}
    .wrapper .splash {
		height:350px;
	}
	.wrapper .splash  h1 {
		font:48px/48px 'Franklin Gothic Heavy';
		width: 100%;
		padding-top:25px;
	}
	.wrapper .splash .signup {
	    padding-top:25px;
		width: 100%;
		padding-left: 0%;
	}
	.wrapper .splash .signup .btn {
	    padding:10px 10px;float:left;
		margin-right:20px;
		width:calc(33% - 40px);
		width:-webkit-calc(33% - 40px);
		min-width:180px;
		font: 16px 'Franklin Gothic Demi Condensed';
	}
	.wrapper .splash .signup .btn:nth-child(4){margin-right:0px;}
	.wrapper .splash .signup .btn i {
		font-size: 22px;
		margin-right: 10px;
		margin-top: -2px;
		float: left;
	}
	.wrapper .splash .signup .smalltext {
	    float:left;
		width:calc(50% - 40px);
		width:-webkit-calc(50% - 40px);
		padding: 20px;
		display: block;
   }
}

@media screen and (max-width: 700px) and (min-width: 480px){
    .modal {
		top: 0%;
	    margin-top:75px;
	} 
    .wrapper .communication .blocks div span.circle {
		margin: 50% auto 0 auto;
	}
	.wrapper .gallery h2 {
		font: 32px 'Franklin Gothic Heavy';
	}
	.wrapper .gallery h2 span {
		font: 18px Arial, sans-serif;
	}
	.wrapper .features h2 {
		font: 32px 'Franklin Gothic Heavy';
	}
    .wrapper .gallery  ul{
	    display:none;
	} 
	.wrapper .communication h2 {
		font: 20px 'Franklin Gothic Heavy';
	}
	.wrapper .communication .blocks div span.text {
		font-size: 14px;
		line-height:18px;
	}
	.wrapper .features ul li {
        padding:0;
		width: 50%;
		min-height:220px;
		font-size: 16px;
		line-height: 18px;
	}
	.wrapper .features ul li div {
		margin:0 auto;
		width:70px;
		height:70px;
		line-height:70px;
		padding:5px;
		margin-bottom:20px;
		text-align:center;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border:5px solid #a7aebc;
		cursor:pointer;
	}
	.wrapper .features ul li div i {font-size:300%;color:#808897;}
	.wrapper .footer .left {
		width: calc(50% - 20px);
		width: -webkit-calc(50% - 20px);
		padding-right: 20px;
		float: left;
		font-size: 12px;
        line-height: 16px;
	}
	.wrapper .footer .right {
		width: calc(50% - 10px);
		width: -webkit-calc(50% - 10px);
		padding-left: 10px;
		float: left;
	}
	.wrapper .footer span {
		font-size: 16px;
		line-height: 18px;
		color: #b0b5c1;
		display: block;
		padding-bottom: 6px;
		padding-right:70px;
	}
    .wrapper .footer h3 {
		font:22px 'Franklin Gothic Demi Condensed';
		color: #fff;
		letter-spacing: 0px;
		padding-bottom: 10px;
	}
	.wrapper .footer h4 {
		font: 22px 'Franklin Gothic Demi Condensed';
	}
    .wrapper .splash {
		height:350px;
	}
	.wrapper .splash  h1 {
		font:38px/38px 'Franklin Gothic Heavy';
		width: 100%;
		padding-top:25px;
	}
	.wrapper .splash .signup {
	    padding-top:25px;
		width: 100%;
		padding-left: 0%;
	}
	.wrapper .splash .signup .btn {
	    padding:10px 10px;float:left;
		margin-right:20px;
		width:calc(33% - 40px);
		width:-webkit-calc(33% - 40px);
		min-width:180px;
		font: 16px 'Franklin Gothic Demi Condensed';
	}
	.wrapper .splash .signup .btn:nth-child(4){margin-right:0px;}
	.wrapper .splash .signup .btn:nth-child(3){margin-right:0px;}
	.wrapper .splash .signup .btn i {
		font-size: 22px;
		margin-right: 10px;
		margin-top: -2px;
		float: left;
	}
	.wrapper .splash .signup .smalltext {
	    float:left;
		width:calc(40% - 40px);
		width:-webkit-calc(40% - 40px);
		padding: 20px;
		display: block;
   }
   .wrapper .footer .bottom {width:100%;float:left;border-top:2px solid #222645;margin-top:30px}
   .wrapper .footer .bottom  ul.social {float:none;margin:15px auto 0 auto;width:210px;padding-left:10px;}
   .wrapper .footer .bottom .copy {float:left;display:block;width:100%;text-align:center;font-size:14px;text-transform: uppercase;padding:23px 0 0 0;}
}

@media screen and (max-width: 480px) and (min-width: 320px){
    body {max-width:480px;overflow:hidden}
	.modal {
		top: 0%;
	    margin-top:75px;
	}
    .wrapper .header .logo {
		width: 30px;
	}
    .wrapper .communication .blocks div span.circle {
		margin: 50% auto 0 auto;
	}
	.wrapper .gallery h2 {
		font: 32px 'Franklin Gothic Heavy';
	}
	.wrapper .gallery h2 span {
		font: 18px Arial, sans-serif;
	}
	.wrapper .features h2 {
		font: 32px 'Franklin Gothic Heavy';
	}
    .wrapper .gallery  ul{
	    display:none;
	} 
	.wrapper .communication h2 {
		font: 20px 'Franklin Gothic Heavy';
	}
	.wrapper .communication .blocks div span.text {
		font-size: 14px;
		line-height:18px;
	}
	.wrapper .features ul li {
        padding:0;
		width: 50%;
		min-height:220px;
		font-size: 16px;
		line-height: 18px;
	}
	.wrapper .features ul li div {
		margin:0 auto;
		width:70px;
		height:70px;
		line-height:70px;
		padding:5px;
		margin-bottom:20px;
		text-align:center;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border:5px solid #a7aebc;
		cursor:pointer;
	}
	.wrapper .features ul li div i {font-size:300%;color:#808897;}
	.wrapper .footer .left {
		width:100%;
		padding-right: 0px;
		padding-bottom:20px;
		float: left;
		font-size: 12px;
        line-height: 16px;
	}
	.wrapper .footer .right {
		width:100%;
		padding-left: 0px;
		float: left;
	}
	.wrapper .footer span {
		font-size: 16px;
		line-height: 18px;
		color: #b0b5c1;
		display: block;
		padding-bottom: 6px;
		padding-right:70px;
	}
    .wrapper .footer h3 {
		font:22px 'Franklin Gothic Demi Condensed';
		color: #fff;
		letter-spacing: 0px;
		padding-bottom: 10px;
	}
	.wrapper .footer h4 {
		font: 22px 'Franklin Gothic Demi Condensed';
	}
    .wrapper .splash {
		height:350px;
	}
	.wrapper .splash  h1 {
		font:26px/26px 'Franklin Gothic Heavy';
		width: 100%;
		padding-top:15px;
	}
	.wrapper .splash .signup .text {
		font-size: 20px;
		text-transform: uppercase;
		display: block;
		padding-bottom: 0px;
	}
	.wrapper .splash .signup .btn {
	    padding:10px 10px;float:left;
		margin-right:0px;
		width:calc(100% - 20px);
		width:-webkit-calc(100% - 20px);
		font: 18px 'Franklin Gothic Demi Condensed';
	}
	.wrapper .splash .signup .btn i {
		font-size: 22px;
		margin-right: 10px;
		margin-top: -2px;
		float: left;
	}
	.wrapper .splash .signup {
	    padding-top:15px;
		width: 100%;
		padding-left: 0%;
	}

	.wrapper .splash .signup .smalltext {
	    float:left;
		width:calc(100% - 40px);
		width:-webkit-calc(100% - 40px);
		padding:5px 20px 0 20px;
		display: block;
   }

   .wrapper .communication .blocks div span.circle {
    	display:none;
	}
	.wrapper .footer .bottom {width:100%;float:left;border-top:2px solid #222645;margin-top:30px}
	.wrapper .footer .bottom  ul.social {float:none;margin:15px auto 0 auto;width:210px;padding-left:10px;}
	.wrapper .footer .bottom .copy {float:left;display:block;width:100%;text-align:center;font-size:14px;text-transform: uppercase;padding:23px 0 0 0;}

}